{
        "diagnostic.checkCurrentLine": true,
        "diagnostic.messageTarget": "float",
        "diagnostic.level": "information",
        "signature.enable": false,
        "coc.preferences.snippets.enable": false,
        "rust-analyzer.serverPath": "/home/{{ .chezmoi.username }}/.local/bin/rust-analyzer"
}
