## Denote all files that are truly binary and should not be modified.

*.png binary
*.jpg binary

## Ref https://wiki.archlinux.org/index.php/Dotfiles#Confidential_information
xfce4-keyboard-shortcuts.xml filter=xfce_user
desktop.d/*.desktop          filter=xfce_user
