## Denote all files that are truly binary and should not be modified.

*.png binary
*.jpg binary

## Ref https://wiki.archlinux.org/index.php/Dotfiles#Confidential_information
home.d/.gitconfig            filter=strip_git_user
xfce4-keyboard-shortcuts.xml filter=home_user
desktop.d/*.desktop          filter=home_user
