#!/usr/bin/env bash
# ~/.bash_profile: executed by bash(1) when "login shell" starts.
#
# This file is sourced only for login shells. It
# should contain commands that should be executed only
# in login shells. It should be used to set the terminal
# type and run a series of external commands (fortune,
# msgs, from, etc.)
#
# If Bash is spawned by login in a TTY, by an SSH daemon,
# or similar means, it is considered a "login shell".
#
# Per-user, after /etc/profile. If this file does not exist,
# ~/.bash_login and ~/.profile are checked in that order.
# The skeleton file /etc/skel/.bash_profile also sources ~/.bashrc

{{- if not (has .chezmoi.hostname .localhosts) }}
export SHELL=$HOME/.local/bin/fish
exec $SHELL
{{- else if .chezmoi.homeDir | contains "hacker" }}
# patch pwndbg, root files ...
symlink_cfg() {
       $sudo test -e /root/.inputrc && return
       $sudo rm -f /root/{.bashrc,.profile,.gdbinit,.radare2rc}
       pushd /home/hacker/ndotfiles/ > /dev/null
       $sudo ./prepare_dir.bash > /dev/null
       $sudo /home/hacker/.local/bin/stow home.d/ config.d/ -t /root/
       $sudo ln -fs /home/hacker/.gdb_history /root/
       popd > /dev/null
       $sudo ln -fsr .vim/plugged/* /root/.vim/plugged/
       $sudo mkdir -p /root/.local/share/nvim/
       $sudo ln -fsr /home/hacker/.local/share/nvim/rplugin.vim /root/.local/share/nvim/
       $sudo ln -fsr /home/hacker/.local/bin/fzf /usr/local/bin/
       $sudo ln -fsr /home/hacker/.fzfignore /root/
}

read -r privileged < /run/dojo/sys/workspace/privileged
if test 0 -lt $privileged ; then
       sudo=/run/dojo/bin/sudo
       symlink_cfg
fi

# Only auto-start tmux if not already inside tmux
if [ -z "$DISPLAY" ] && [ -z "$SSH_CONNECTION" ] && [ -z "$TMUX" ]; then
    tmux attach || tmux new -s default
fi

if [[ $SHLBL -le 2 ]]; then
  exec ~/fish
fi
{{- end }}

[ -f "$HOME/.profile" ] && . "$HOME/.profile"
[ -f "${HOME}/.bashrc" ] && . "${HOME}/.bashrc"
