/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */

/* Disable some section in Firefox's content menu */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#context-sendlinktodevice, #context-sendpagetodevice, #context-sep-sendlinktodevice, #context-sep-sendpagetodevice, #context-selectall, #context-savelinktopocket, #context-pocket {
    display: none !important
}
