#!/usr/bin/env fish

if not status is-interactive
  exit
end

# buggy termux fish #11056
# or update to fish 4.0.2
#set -Ua fish_features no-keyboard-protocols

fish_add_path "$HOME/.cargo/bin" "$HOME/.local/bin"

#if ! test -d /nix;
#  set -l UID (id -u)
#  set -l GID (id -g)
#  source ~/.nix-binds.sh "$HOME/.local/bin/fish"
#end

# Disable greetings text on every runs
set -g fish_greeting

# from <https://github.com/fish-shell/fish-shell/issues/8635>.
set fish_cursor_default     block
set fish_cursor_insert      line
set fish_cursor_replace_one underscore
set fish_cursor_visual      block

{{- if .chezmoi.homeDir | contains "hacker" }}
fish_config prompt choose minimalist
{{- else }}
fish_config prompt choose terlar
{{- end}}

# Vi-style bindings that inherit emacs-style bindings in all modes
function fish_hybrid_key_bindings
    fish_default_key_bindings -M insert
    fish_vi_key_bindings --no-erase insert
    bind --user \ca beginning-of-line
    bind --user \ce end-of-line
    bind --preset -M insert \e\[3\;5\~ kill-word
end
set -g fish_key_bindings fish_hybrid_key_bindings

# dont call slow handler
function fish_command_not_found
  __fish_default_command_not_found_handler $argv[1]
end

{{- if eq .chezmoi.hostname .desktop }}
# For `gpg-agent` to work correctly.
set -gx GPG_TTY (tty)
gpg-connect-agent updatestartuptty /bye >/dev/null
{{- end }}

# -- Exported environment variable --------------------------------------------
# NOTE: Most variables should be in ~/.config/environement.d

{{- if .chezmoi.homeDir | contains "hacker" }}
export LANG=C.UTF-8
export LC_ALL=C.UTF-8
{{- else if not (has .chezmoi.hostname .localhosts) }}
set -gx LANGUAGE en_US
set -gx LANG en_US.UTF-8
set -gx LC_CTYPE en_US.UTF-8
set -gx LC_ALL en_US.UTF-8

set -gx PKG_CONFIG_PATH $HOME/.local/share/pkgconfig
{{- end }}

set -gx PYTHONSTARTUP $HOME/.pythonrc
set -gx CARGO_TARGET_DIR $HOME/.cargo/target

# Ref: https://wiki.gentoo.org/wiki/GnuPG#Changing_pinentry_for_SSH_logins
{{- if not (has .chezmoi.hostname .localhosts) }}
set -gx PINENTRY_USER_DATA "USE_CURSES=1"
{{- else }}
set -e PINENTRY_USER_DATA
{{- end }}

set -gx FZF_DEFAULT_COMMAND 'fd --type f --hidden --follow --ignore-file {{ .chezmoi.homeDir }}/.fzfignore'

{{- if eq .chezmoi.hostname .desktop }}
if [ -z "$XDG_RUNTIME_DIR" ]
  if [ -d /run/user/ ]
    set -gx XDG_RUNTIME_DIR /run/user/(id -u)
{{- if eq .chezmoi.os "openbsd" }}
  else
    set -gx XDG_RUNTIME_DIR /tmp/runtime-(id -u)
    if [ ! -d "$XDG_RUNTIME_DIR" ]
      mkdir -m 0700 "$XDG_RUNTIME_DIR"
    end
{{- end }}
  end
end
{{- else if eq .chezmoi.hostname "localhost" }}
# For termux
#eval (ssh-agent -c)
source $HOME/.config/fish/source-ssh-agent.fish
{{- end }}

set -gx SSH_AUTH_SOCK "$XDG_RUNTIME_DIR/gnupg/S.gpg-agent.ssh"

### Functions

# Make path for each argument and cd into the last path
function mkcd
  /bin/mkdir -p "$argv" && cd "$argv[-1]" && pwd
end

# print duration of last command
function print_time --on-event fish_postexec
    set -l dur $CMD_DURATION
    if [ $dur -gt 5000 ];
         printf "[^] last command took "(math $dur / 1000)" s\n"
    end
end

function multicd
    echo cd (string repeat -n (math (string length -- $argv[1]) - 1) ../)
end
abbr --add dotdot --regex '^\.\.+(/?)$' --function multicd
abbr --add clang-format clang-format --style=Google
abbr --add g git
abbr --add vi nvim
abbr --add wget wget --content-disposition
abbr --add rsqlite3 rlwrap sqlite3
abbr --add rp-linux "rp-linux -f | rg -v hlt"
abbr --add lsport ss --processes --all --tcp --numeric
abbr --add fix-touchpad "sudo modprobe -r i2c_hid_acpi && sudo modprobe i2c_hid_acpi"
abbr --add cz chezmoi
{{- if .chezmoi.homeDir | contains "hacker" }}
abbr --add firefox firefox --display :0
abbr --add tree tree -C
abbr --add d8 /challenge/d8 --allow-natives-syntax
abbr --add up ps -p "(pgrep -f '^/run/dojo/bin/sleep 6h')" -o etime
{{- else if .chezmoi.hostname | contains "cfarm" }}
abbr --add ssh ssh -F ~/.ssh/config
{{- else }}
abbr --add firefox firefox --display :1
{{- end}}

### Aliases

[ -f ~/.aliases ] && source ~/.aliases

alias cdroot='cd (git root)'

{{- if eq .chezmoi.os "linux" "freebsd" "netbsd" "android" "darwin" }}
alias ln='ln -iv'
alias mkdir='mkdir -pv'
alias mv='mv -iv'
alias nc='nc -v'
{{- else }}
# this maybe OpenBSD
alias ln='ln -i'
alias mkdir='mkdir -p'
alias mv='mv -i'
{{- end }}

#set nix_src $HOME/.nix-profile/etc/profile.d/nix.fish
#if test -z $NIX_CC
#    [ -e $nix_src ] && source $nix_src; # added by Nix installer
#end
