#!/usr/bin/env bash
# ~/.aliases

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias buildtype='gcc -dumpmachine' # or make --version; bash --version; uname -o -m
alias cls='tput reset'
alias cp='cp -iv'
alias dd='dd status=progress'
alias df='df -h'
alias diff="diff --unified --color"
alias du='du -sch'
alias fails='journalctl -p 3 -xb'
# find pid base on tcp port
alias findport='fuser --verbose --namespace tcp '
alias free='free -h'
alias g++='g++ -Wall -Wpedantic -Wextra -Weffc++ -masm=intel' #-fno-stack-protector
alias gcc='gcc -masm=intel'
alias gccn='gcc -Wfatal-errors -std=gnu11 -Wall -Wextra' # -pedantic #-fno-stack-protector
alias gccex='gcc -Wfatal-errors -m32 -fno-stack-protector -Wl,-z,norelro -z execstack -g'
alias gdb='gdb -q'
alias rust-gdb='rust-gdb -q'
alias grep="grep --color"
alias hd='hexdump -C'
alias l='ls -CF'
alias la='ls -AF'
alias lh='ls -dF .??*'
alias ll='ls -lF'
[ $OS = gnu ] && alias ls="ls -h --color --group-directories-first"
[ $OS = bsd ] && alias ls="ls -h -G"
[ $OS = unknown ] && alias ls="ls -h"
alias lsblk='lsblk -o name,mountpoint,label,size,uuid'
alias lsport='ss --processes --all --tcp'
[ $OS = gnu ] && alias lssh="pgrep -af 'ssh '"
[ ! $OS = gnu ] && alias lssh="pgrep -l -f 'ssh '"
# Get the program name of a running X window
alias name_of_xwindows="xprop WM_CLASS"
alias objdump='objdump -M intel'
alias patch='patch -p1' # or use `git apply -3`
alias py='python3'
alias pip='pip3'
alias py2='python2'
alias py3='python3'
alias readelf='readelf -W'
#alias rot13='tr "[A-Za-z]" "[N-ZA-Mn-za-m]"'
alias rm='rm -I'
#alias ssh-keygen='ssh-keygen -E md5 -lf'
# When hang, find its matching SSH: `ssh -x -a [...] -s sftp`
alias scapy='scapy -H'
alias sshfs='sshfs -o reconnect -C'
alias sshpw='ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no'
# This works on par with bin/stop-wakeup.sh
alias suspend='systemctl suspend'
#alias synctime='ntpd -qg'  # install ntp package
alias urldecode='python3 -c "import sys, urllib.parse as ul; print(ul.unquote(sys.argv[1]))"'
alias vi='vim '
alias wifiscan='nmcli device wifi rescan'
alias wifils='nmcli device wifi list'
#alias wifipasswod='sudo grep -r "^psk" /etc/NetworkManager/system-connections/'
#alias whois='whois -H --verbose'

# I think I can forget
# ```bash
# cmp -l file file2 | gawk '{printf "%08X %02X %02X\n", $1, strtonum(0$2), strtonum(0$3)}'
# or
# radiff2 file file2
#
# sdiff -o merged.txt file1.txt file2.txt
# ```
