#!/usr/bin/env bash
# ~/.aliases

# -- Functions ----------------------------------------------------------------

# Create useful .gitignore files for your project https://www.gitignore.io
# Or use https://github.com/github/gitignore
gi() {
  curl -L -s 'https://www.gitignore.io/api/'"$*"
}

# Usage: extract <file>
# Description: extracts archived files / mounts disk images
# Note: .dmg/hdiutil is macOS-specific.
#
# Credit: http://nparikh.org/notes/zshrc.txt
extract() {
  if [ -f "$1" ]; then
    local lower_name
    lower_name="$(printf '%s' "$1" | tr '[:upper:]' '[:lower:]')"
    case "${lower_name}" in
      *.tar | *.x )        tar -xvf        "$1";;
      *.tar.bz2 | *.tbz2 ) tar -xjvf       "$1";;
      *.tar.xz )           tar -xJvf       "$1";;
      *.tar.gz | *.tgz )   tar -xzvf       "$1";;
      *.tar.lzma )         tar --lzma -xvf "$1";;
      *.bz2 )              bunzip2         "$1";;
      *.xz )               unxz            "$1";;
      *.gz )               gunzip -k       "$1";;
      *.zip )              unzip           "$1";;
      *.rar )              unrar x         "$1";;
      *.7z )               7z e            "$1";;
      *.z )                uncompress      "$1";;
      * )
        >&2 printf '"%s" cannot be extracted via extract()\n' "$1"
        return 1
        ;;
    esac
  else
    >&2 printf '"%s" is not a valid file\n' "$1"
    return 2
  fi
}

tarball() {
  if [ -z "$1" ]; then
    >&2 printf '"%s" is not a valid file\n' "$1"
    return 2
  fi
  find usr ! -type d | fakeroot tar -cJvf "$1" -T -
}

# Print specific variable of gcc
parse_gcc_var() {
  [ "$#" -ne 1 ] && return
  # List gcc environment variables
  { printf '\n' | gcc -E -v - >/dev/null; } 2>&1 \
    | awk -v VAR_NAME='^'"${1}" -v FS='=' '$0 ~ VAR_NAME { print $2; }' \
    | awk -v FS=: '{for(i=1;i<NF;i++){print $i};}' \
    | while IFS='' read -r line; do
        realpath "$line"
      done | sort -u
}

# Print LIBRARY_PATH of gcc
gcclib() {
  parse_gcc_var LIBRARY_PATH
}

# Print COMPILER_PATH of gcc
gccpath() {
  parse_gcc_var COMPILER_PATH
}

# Print default include paths
gccinc() {
  printf '\n' | gcc -E -Wp,-v - -fsyntax-only > /dev/null
}

lssh() {
  ps -ef | command grep '[s]sh.*pts'
}

# Make path for each argument and cd into the last path
mkcd() {
  /bin/mkdir -p "$@" && cd "$_" && pwd
}

if command_exist vmhgfs-fuse; then
  # Usage: vmmount /path/to/mount/point
  vmmount() {
    [ "$#" -ne 1 ] && return
    local sharedir
    sharedir="$(vmware-hgfsclient)"
    vmhgfs-fuse -o allow_other -o auto_unmount .host:"$sharedir" "$1"
  }
fi

# If "which" is not an alias and has "-h" option
# shellcheck disable=SC2230
if ! alias which >/dev/null 2>&1; then
  # which command on Debian-based distros lack support for long options
  if which -h >/dev/null 2>&1; then
    which() {
      { alias; declare -f; } \
      | command which --tty-only --read-alias --read-functions --show-tilde --show-dot
    }
  fi
fi

if command_exist xclip; then
  # A shortcut function that simplifies usage of xclip.
  # - Accepts input from either stdin (pipe), or params.
  copy() {
    local scs_col wrn_col reset_col
    # if no tty, data should be available on stdin
    case "$(tty)" in
      /dev/* ) input="$(< /dev/stdin)" ;;
           * ) input="$*";;
    esac
    if [ -z "$input" ]; then  # If no input, print usage message.
      >&2 cat << EOF
Copies a string to the clipboard.
Usage: copy <string>
       echo <string> | copy
EOF
      return 1
    fi

    scs_col="$(tput setaf 2)"
    wrn_col="$(tput setaf 1)"
    reset_col="$(tput sgr0)"

    # Check user is not root (root doesn't have access to user xorg server)
    if [ "$USER" = "root" ]; then
      >&2 printf '%s\n' "${wrn_col}Must be regular user (not root) to copy a file to the clipboard.${reset_col}"
      return 1
    fi
    # Copy input to clipboard
    printf '%s' "$input" | xclip -selection c
    # Print status.
    >&2 printf '%s\n' "${scs_col}Copied to clipboard.${reset_col}"
  }
fi

# -- Aliases ------------------------------------------------------------------

# Enable color support of ls
if [ -x /usr/bin/dircolors ]; then
  if [ -f "$HOME/.dircolors" ]; then
    eval "$(dircolors -b "$HOME/.dircolors")"
  else
    eval "$(dircolors -b)"
  fi
fi

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias cdc='cd $_'
alias buildtype='gcc -dumpmachine' # or make --version; bash --version; uname -o -m
alias cd-='cd -'
alias cd..='cd ..'
alias cdroot='cd "$(git root)"'
alias cls='tput reset'
alias cp='cp -iv'

if command_exist ctags; then
  # Use "ctags --list-kinds=c" to list all kinds
  alias cproto='ctags --sort=no -x --c-kinds=fp'
fi

alias dd='dd status=progress'
alias df='df -h'
# Only diffutils v3.4+ includes the --color option
# CentOS 7 has diffutils 3.3
if diff --color 2>&1 | grep -q 'missing operand'; then
  alias diff="diff --unified --color"
fi
alias du='du -sch'
alias fail='journalctl -p 3 -xb'
alias free='free -h'
alias g++='g++ -Wall -Wpedantic -Wextra -Weffc++ -masm=intel' #-fno-stack-protector
alias gcc='gcc -masm=intel'
alias gccn='gcc -Wfatal-errors -std=gnu11 -Wall -Wextra' # -pedantic #-fno-stack-protector
alias gccex='gcc -Wfatal-errors -m32 -fno-stack-protector -Wl,-z,norelro -z execstack -g'
alias gdb='gdb -q'
alias grep="grep --color"
alias hd='hexdump -C'
alias l='ls -CF'
alias la='ls -AF'
alias lh='ls -dF .??*'
alias ll='ls -lF'

# Detect which `ls` flavor is in use
my_ls="ls -h --group-directories-first"
# shellcheck disable=SC2139
if ls --color > /dev/null 2>&1; then # GNU ls support colors
  alias ls="${my_ls} --color"
elif ls --G > /dev/null 2>&1; then # BSD ls
  alias ls="${my_ls} -G"
else
  alias ls="${my_ls}"
fi
unset my_ls

alias lsblk='lsblk -o name,mountpoint,label,size,uuid'
alias ln='ln -iv'
alias mkdir='mkdir -pv'
alias mv='mv -iv'
alias nc='nc -v'
alias objdump='objdump -M intel'
alias py='python'
alias py2='python2'
alias py3='python3'
alias readelf='readelf -W'
#alias rot13='tr "[A-Za-z]" "[N-ZA-Mn-za-m]"'
alias rm='rm -I'
#alias ssh-keygen='ssh-keygen -E md5 -lf'
alias sshpw='ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no'
alias sudo='sudo '
#alias synctime='ntpd -qg'  # install ntp package
alias urldecode='python3 -c "import sys, urllib.parse as ul; print(ul.unquote(sys.argv[1]))"'
alias vi='vim'
alias wifiscan='nmcli device wifi rescan'
alias wifils='nmcli device wifi list'
#alias wifipasswod='sudo grep -r "^psk" /etc/NetworkManager/system-connections/'
#alias whois='whois -H --verbose'

# I think I can forget
# ```bash
# cmp -l file file2 | gawk '{printf "%08X %02X %02X\n", $1, strtonum(0$2), strtonum(0$3)}'
# or
# radiff2 file file2
# ```

# This works on par with bin/stop-wakeup.sh
suspend() {
  systemctl suspend
}

# if [ -x '/usr/bin/xflock4' ]; then
#  alias suspend='xflock4 && systemctl suspend'
#fi

if command_exist rasm2; then
  alias asm32='rasm2 -a x86 -b 32'
  alias asm64='rasm2 -a x86 -b 64'
  alias disasm32='asm32 -D'
  alias disasm64='asm64 -D'
elif command_exist nasm; then
  # Usage: _assembly 32 'xor eax, eax; mov ebx, eax;'
  _assembly() {
    [ "$#" -ne 2 ] && return
    local infile outfile bits asm
    bits="$1"
    asm="$2"
    outfile='.nasm.bin'
    infile='.nasm.s'
    printf 'BITS %d\n%s\n' "$bits" "$asm" > "$infile" \
    && nasm "$infile" -o "$outfile" \
    && ndisasm -b "$bits" "$outfile"
  }

  alias asm32='_assembly 32'
  alias asm64='_assembly 64'
fi

if command_exist fuser; then
  # Usage: findport 123
  # find pid base on tcp port
  findport() {
    fuser --verbose --namespace tcp "$1"
  }
  alias lsport='ss --processes --all --tcp'
fi

# Terminal browser Elinks
if command_exist elinks; then
  alias elinks='elinks --no-connect'
fi

if command_exist pngcheck; then
  alias pngcheck='pngcheck -vv'
fi

# for zathura
if command_exist zathura; then
  alias zathura='zathura --fork'
fi

# for evince
if command_exist evince; then
  evince() {
    (command evince "$@" & )
  }
fi

# for audacious
if command_exist audacious; then
  audacious() {
    (command audacious "$@" & )
  }
fi

# Alias for each distribution {{{
# See more https://wiki.debian.org/ReduceDebian
#clrdesktop() {
#  >&2 printf 'Clearing non-English part in .desktop files ...\n'
#  if [ -d "/usr/share/applications" ]; then
#    sudo find /usr/share/applications -type f -iname '*.desktop' -exec /bin/sed -E -i '/]=/d' '{}' '+'
#  fi
#}
#
#clrhelp() {
#  local DIRS
#  DIRS=( '! -name '{C,en_GB} )
#  >&2 printf 'Clearing non-English help files ...\n'
#  find /usr/share/help -mindepth 1 -maxdepth 1 "${DIRS[@]}" -exec /bin/rm -Irf '{}' '+'
#}
#
#clrlocale() {
#  local DIRS
#  DIRS=( '! -name en'{,_US,_GB,'@quot'} )
#  >&2 printf 'Clearing non-English locale files ...\n'
#  find /usr/share/locale -mindepth 1 -maxdepth 1 "${DIRS[@]}" -type d -exec /bin/rm -Irf '{}' '+'
#}
#
#clrman() {
#  >&2 printf 'Clearing non-standard man files ...\n'
#  find /usr/share/man -mindepth 1 -maxdepth 1 ! -name 'man*' -type d -exec /bin/rm -Irf '{}' '+'
#}

# Alias that depends on Linux distro
# Note:
#   Use [ -x program ] to test to assure that these programs are actually
#   executable and are the wanted program.
#
# Test for Debian variants
if [ -x '/usr/bin/dpkg' ]; then
  # Perform a simulation of the whole process by:
  #apt-get clean --dry-run
  alias apt4='apt -o Acquire::ForceIPv4=true'
  alias aptshow='apt-cache show' # or `apt show` or `dpkg --print-avail`
  alias dpkglist='dpkg --listfiles' # List files from installed package
  #alias apts='apt-cache search'
  #alias lsapt='apt list --installed'

  #clrapt() {
  #  >&2 printf 'Clearing apt cache ...\n'
  #  sudo apt-get clean
  #}
# Arch Linux
elif [ -x '/bin/pacman' ]; then
  #alias keepping='ping login.net.vn &> /dev/null &'
  alias pacman="pacman --color=auto"
  alias update-grub='grub-mkconfig -o /boot/grub/grub.cfg'
  alias wifioff='nmcli radio wifi off'
  alias wifion='nmcli radio wifi on'
  clrjournal() {
    >&2 printf 'Clearing journal files ...\n'
    command sudo rm -rf /var/log/journal
  }

  clrpac() {
    >&2 printf 'Clearing pacman cache ...\n'
    # remove all packages except for the latest three package versions
    command sudo paccache -rvk3
  }
# for CentOS, RedHat, Fedora
elif [ -x '/usr/bin/yum' ]; then
  clryum() {
    >&2 printf 'Clearing yum cache ...\n'
    command sudo rm -Ifr /var/cache/yum
  }
fi
