#!/usr/bin/env bash
# ~/.exports: Export environment vars for both bash and zsh

CURRENT_SHELL="$(m_current_shell)"
export CURRENT_SHELL

case "${CURRENT_SHELL}" in
bash)
  # See HISTSIZE and HISTFILESIZE in bash for setting history length
  HISTSIZE=1000
  HISTFILESIZE=2000
  # Do NOT put duplicate lines or lines starting with space in the history.
  HISTCONTROL=ignoreboth:erasedups
  ;;
zsh)
  HISTSIZE=1000                 # 1000 lines of history within the shell
  SAVEHIST=1000                 # 1000 lines of history in $HISTFILE
  HISTFILE="${HOME}/.zsh_history" # Save history to ~/.zsh_history
  # Ignore saving in $HISTFILE, but still in the shell
  HISTORY_IGNORE='([bf]g|cd ..|l|l[alsh]|less *|vim *)'

  # Watch other user login/out
  watch=all   # watch all logins, default "notme"
  LOGCHECK=10 # check logins after 10 seconds

  # Say how long a command took, if it took more than 10 seconds
  REPORTTIME=10
  ;;
esac

# Enable the keyring for applications run through the terminal, such as SSH
if [ -n "$DESKTOP_SESSION" ];then
  if m_check_exist gnome-keyring-daemon; then
    eval "$(gnome-keyring-daemon --start)"
    export SSH_AUTH_SOCK
  fi
fi

# Set less options
#export PAGER="less"
LESS="--line-numbers --RAW-CONTROL-CHARS"
LESSHISTFILE='-' # prevent less' history file
export LESS LESSHISTFILE
#[ -x /usr/bin/lesspipe ] && LESSOPEN="| lesspipe %s" && export LESSOPEN

# Make vim the default editor.
EDITOR='vim'
VISUAL="${EDITOR}"

# Prefer US English and use UTF-8.
# Ref https://wiki.archlinux.org/index.php/locale
LC_CTYPE='en_US.UTF-8'
#LC_TIME="en_GB.UTF-8"
#LC_PAPER="en_GB.UTF-8"
#LC_MEASUREMENT="en_GB.UTF-8"
LANG='en_US.UTF-8'
# WARNING: Using LC_ALL is strongly discouraged as it overrides everything.
# Please use it only when testing and never set it in a startup file.
#LC_ALL='en_US.UTF-8'

PYTHONSTARTUP="${HOME}/.pythonrc"
#SYSTEMD_LESS='FRSMK'

# MySQL prompt
#MYSQL_PS1="\R|\m:\s \h.\d> "

export EDITOR VISUAL LC_CTYPE LANG PYTHONSTARTUP
#export LC_TIME
#export LC_PAPER
#export LC_MEASUREMENT
#export LC_ALL
#export SYSTEMD_LESS
#export MYSQL_PS1
