#!/usr/bin/env bash
## ~/.exports: Export environment vars for both bash and zsh

## If zsh or bash
typeofshell=$(ps -p $$ --no-headers -o cmd)

case "$typeofshell" in
  (*bash)
    ## for setting history length see HISTSIZE and HISTFILESIZE in bash
    HISTSIZE=1000
    HISTFILESIZE=2000
    ## don't put duplicate lines or lines starting with space in the history.
    HISTCONTROL=ignoreboth:erasedups
    ;;
  (*zsh)
    HISTSIZE=1000                 # 1000 lines of history within the shell
    SAVEHIST=1000                 # 1000 lines of history in $HISTFILE
    HISTFILE=${HOME}/.zsh_history # Save history to ~/.zsh_history
    ## Ignore saving in $HISTFILE, but still in the shell
    HISTORY_IGNORE='([bf]g|cd ..|l|l[alsh]|less *|vim *)'

    ## Watch other user login/out
    watch=all   # watch all logins, just 'notme'
    LOGCHECK=60 # check logins after 60 seconds

    ## Say how long a command took, if it took more than 10 seconds
    REPORTTIME=10
    ;;
esac

## enable the keyring for applications run through the terminal, such as SSH
if [[ -n "$DESKTOP_SESSION" ]];then
  if command -v gnome-keyring-daemon > /dev/null 2>&1; then
    eval "$(gnome-keyring-daemon --start)"
    export SSH_AUTH_SOCK
  fi
fi

## Set less options
if [[ -x /usr/bin/less ]]; then
  #export PAGER="less"
  export LESS="--line-numbers --RAW-CONTROL-CHARS"
  export LESSHISTFILE='-' # prevent less' history file
  [[ -x /usr/bin/lesspipe ]] && export LESSOPEN="| lesspipe %s"
fi

## Make vim the default editor.
export EDITOR='vim'
export VISUAL=${EDITOR}

## Prefer US English and use UTF-8.
## Ref https://wiki.archlinux.org/index.php/locale
export LC_CTYPE='en_US.UTF-8'
#export LC_TIME="en_GB.UTF-8"
#export LC_PAPER="en_GB.UTF-8"
#export LC_MEASUREMENT="en_GB.UTF-8"
export LANG='en_US.UTF-8'
## WARNING: Using LC_ALL is strongly discouraged as it overrides everything.
## Please use it only when testing and never set it in a startup file.
#export LC_ALL='en_US.UTF-8'

export PYTHONSTARTUP=~/.pythonrc
#export SYSTEMD_LESS='FRSMK'

## MySQL prompt
#export MYSQL_PS1="\R|\m:\s \h.\d> "

unset typeofshell
