#!/usr/bin/env git
# ~/.gitconfig
# ************************************************************************
# This is the config file, and a '#' or ';' character indicates a comment.
#
# Use GIT_TRACE=1 to enables general trace messages, e.g. alias expansion,
# built-in command execution and external command execution.
# ************************************************************************
#
# USE ~/.gitconfig.local to store your personal settings. Please do NOT
# write those directly here or open a pull request if you want.

[alias]
	cl = clone
	cl1 = clone --depth 1
	cld = clone --depth
	root = rev-parse --show-toplevel

	# -- Basic  ---------------------------------------------------------------
	addu = add --update
	addp = add --patch
	st = status
	sts = status --short --branch
	df = diff
	#dfm = diff --color-moved=plain
	dfc = diff --cached  # --staged is a synonym of --cached
	ci = commit
	cip = commit --patch
	cis = commit --signoff
	cig = commit --gpg-sign
	# Amend the currently staged files to the latest commit
	# or commit --amend --date=""
	# or commit --amend --reset-author
	# but authorship of the resulting commit now belongs of
	# the committer, also it renews the author timestamp.
	amend = commit --amend --date=now  # as of v2.1.4
	unstage = reset HEAD
	forget = rm --cache

	# -- Branching, Merging and Patching --------------------------------------
	br = branch
	co = checkout
	discard = checkout --
	author = shortlog --summary --numbered
	committer = shortlog -summary --numbered --committer  # as of v2.12 2017-02-24
	lc = log ORIG_HEAD.. --stat --no-merges  # See the fetched commits
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	logg = log --graph --decorate --oneline --abbrev-commit --all
	lgf = log --pretty=full                  # Display additional committer name
	lgc = log --pretty=full --committer      # Limit the commits output to match the specified committer
	history = log --follow --                # Show commit history of filename
	stats = log -10 --dirstat=files,1,cumulative --ignore-blank-lines --abbrev-commit --oneline --graph --decorate
	# what new commits have been created by the last command - typically after a "git pull"
	# Invoke with:
	#     git new HEAD
	# or maybe use
	#     git whatchanged ..origin
	# or:
	#    git fetch && git log ..origin/master
	new = "!f() { git log \"${1}\"@{1}.. ; }; f"
	tagl = tag --sort=-creatordate  # as of v2.7 2015-09-11

	# -- Sharing and Updating Projects ----------------------------------------
	#pl = pull
	#pb = pull --rebase
	#ps = push                 # Update remote refs along with associated objects
	#psf = push --force        # Overwrite remote refs with local associated objects
	#psu = push --set-upstream # Add upstream (tracking) reference
	#pst = push --tags         # Push all refs under refs/tags
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbs = rebase --skip
	# Useful aliases when working with submodule
	# taken from ProGit v2018, page 313
	sdiff = "!git diff && git submodule foreach 'git diff'"
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
	# Add a subtree to your git project
	sba = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"

	# -- Administration -------------------------------------------------------
	# Remove sensitive data from history, after a push
	rm-sensitive = "!r() { git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch '"\"$1\"" --prune-empty --tag-name-filter cat -- --all; }; r"
	# After some time has passed and you're confident that
	# git filter-branch had no unintended side effects, you can
	# force all objects in your local repository to be dereferenced
	# and garbage collected (Git 1.8.5+)
	clean-up = "!f() { git for-each-ref --format='delete %(refname)' refs/original | git update-ref --stdin; git reflog expire --expire=now --all; git gc --prune=now; }; f"
	pr = prune --verbose      # Prune all unreachable objects from the object database
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[core]
	# set line-ending behavior
	autocrlf = input
	editor = vim
	#editor = subl --wait
	# Don't trust file modes, useful on Windows or sharable storage.
	filemode = false
	pager = less -F -X
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[push]
	# Push only the current branch
	# more https://stackoverflow.com/a/21865319/5456794
	default = simple
[pull]
	rebase = true

# -- Include personal settings ------------------------------------------------

[include]
	# Include private information about user.user and user.email
	path = ~/.gitconfig.local
